@import url("https://fonts.googleapis.com/css?family=Montserrat"); /* Using a url */
@import url("https://fonts.googleapis.com/css?family=Poppins"); /* Using a url */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins;
  background: linear-gradient(135deg, #1a1a1a, #5f0f40, #9a031e);
  /* background: linear-gradient(80deg, #441313, #5c1717, #bd2c2c); */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}